.errorMessage {
  color: red;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 358px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  button {
    width: 240px;
  }
}
.name {
  display: flex;
  flex-direction: column;
  width: 300px;
}
